# {{ role_name }}
Add role overview.

## Privilege escalation
(Optional), why do we need privilege mode.

## Parameters
* `param_1`: Purpose of the parameter.

## Examples
Add samples on using the role.
